.name {
    float: left;
    margin: 0px;
    color: white;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 30px; 
    padding: 28px 
}

body {
    background: url(../assets/funky-lines.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 30px;
    margin: 10px 0px 30px 0px;
}

.projectExample {
    display:flex;
    float:left;
    position: relative;
    margin: 10px 40px 50px 0px;
}

.projectImage {
    height: 200px;
    width: 275px;
}

.projectText {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 255px;
    text-align: center;
    background: #4aaaa5;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    margin-top: 120px;
    width: 100%;
}

footer {
    border-top: solid 8px #4aaaa5
}

@media (max-width: 690.98px){

.navbar {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}
​
.name{
    width: 105%;
    margin-bottom: 0px;
}
}