.name {
    float: left;
    margin: 0px;
    color: white;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 30px; 
    padding: 28px 
}

.bg{
    background-image: url(assets/funky-lines.png);
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 30px;
    margin: 10px 0px 30px 0px;
}

.projectExample {
    display:flex;
    float:left;
    position: relative;
    margin: 10px 40px 50px 0px;
}

.projectImage {
    height: 200px;
    width: 275px;
}

.projectText {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 255px;
    text-align: center;
    background: #4aaaa5;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    margin-top: 120px;
    width: 100%;
}
